
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Science+Gothic:wght@100..900&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
.navbar{
    font-family: "Nabla", system-ui;
}
body{
    font-family: "Science Gothic", sans-serif;
}

/*######################### utility classes ########################*/
/*########### super container ##########################*/

.super-container{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;

}   

/* ##################### nav bar ############################*/
/*desktop hamburger*/
.hamburger-lines{
    display: none;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
}

.navbar-icons{
    display: flex;
    justify-content: space-between;
}
/* ######################### aside(sidebar) section ####################*/